---
Checks: |
  -*,
  android-cloexec-*,
  bugprone-*,
    -bugprone-assignment-in-if-condition,
    -bugprone-branch-clone,
    -bugprone-easily-swappable-parameters,
    -bugprone-narrowing-conversions,
    -bugprone-sizeof-expression,
    -bugprone-switch-missing-default-case,
  cert-c-*,
  clang-analyzer-*,
    -clang-analyzer-deadcode.DeadStores,
    -clang-analyzer-optin.performance.Padding,
    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  misc-use-internal-linkage,
  performance-*,
  portability-*,
WarningsAsErrors: '*'
...
